---
layout: default
---

<div id="main" role="main">
  <article class="home-content">
    <h1>UCHICAGO DSI CLUSTER INFORMATION</h1>
    
    <p>Welcome to the UChicago Data Science Institute (DSI) Cluster Information Portal.
    This site serves as a comprehensive guide to the DSI computing cluster, offering detailed information on available resources, system policies, usage guidelines, and essential tools to support your research computing needs.</p>
    
    <div class="feature-row">
      <div class="feature-item">
        <h2><a href="{{ '/faq/' | relative_url }}">FAQ</a></h2>
        <p>Find answers to common questions and learn how to get help with the cluster.</p>
        <a href="{{ '/faq/' | relative_url }}" class="btn btn--primary">Learn more</a>
      </div>
      
      <div class="feature-item">
        <h2><a href="{{ '/using-the-cluster/cluster-status/' | relative_url }}">Cluster Status</a></h2>
        <p>Link to the cluster status page.</p>
        <a class="btn btn--primary" href="https://cluster-status.ds.uchicago.edu/status/uchicago-dsi-cluster" target="_blank">View Dashboard</a>
      </div>
      
      <div class="feature-item">
        <h2><a href="{{ '/quickstart/' | relative_url }}">Quick Start</a></h2>
        <p>Step-by-step instructions to get you started with the DSI cluster quickly.</p>
        <a href="{{ '/quickstart/' | relative_url }}" class="btn btn--primary">Get started</a>
      </div>
    </div>
    
  </article>
</div>
